/* Corpo */
body{

    background-image: linear-gradient(rgb(1, 1, 54), black);
    background-size: cover;
    height: 100vh;
}

/* Menu */
a, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu li a{
    display: block;
    padding: 10px;
}
 .menu{
    display: flex;

 }

 .menu li{
    margin-left: 320px;
 }

a{
    color: white;
    text-decoration: none;
}
.menu{
    transition: background .4s;
}

.menu li:hover{
    background-color: rgb(53, 52, 52);
    transition: background .4s;

}


/* Cabeçalho*/

.header{
    background-color: rgb(1, 1, 54);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* Pagina*/

h1{
    text-align: center;
    margin-top: 50px;
    color: white;
}

p{
    color: white;
    text-align: center;
    margin: initial;
}


/* Imagem */

img{
    max-width: 100%;
    display: block;
}

img{
    height: 200px;
    border-radius: 50%;
}

img{
    
    padding: 35px;
    margin: auto;
}

/* Formulario*/

input, textarea, button{
    border-radius: 5px;

}

.campo{
    margin-bottom: 2em;

}

.campo label{
    margin-bottom: 0.2em;
    display: block ;
}

fieldset.grupo .campo{
    float: left;
    margin-right: 2em;
}

.campo input[type="text"], .campo input[type="email"], .campo textarea{
    padding: 0.4em;
    border: 1px solid;

}

form {
    text-align:center;
    display: block;
  }

.campo{
    color: white;
}
.container{
    border: solid 3px white;
    margin: 0px 550px 0px 550px;
    padding: 20px;
    border-radius: 5%;
}